:root {
    --main-BG-clr: #EEEEEE;
    --main-NBG-clr: #FFFFFF;
    --main-HD-clr: #F2951C;
    --main-TXT-clr: #000000;
    --trans: all 0.25s ease-in-out;
}

/* ---------------------------------------- */
/* ------LANDING------------------------ */
/* ---------------------------------------- */

.aboutLanding {
    position: relative;
    height: 100vh;
}
.aboutLanding .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc( 100vh - 80px);
    margin-top: 80px;
    /* border: 1px solid #000; */
}
.aboutLanding .container .item{
    /* border: 1px solid #000; */
    position: relative;
    /* height: 50vh; */
    height: 30vw;
    /* width: 550px; */
    width: 40%;
}
.aboutLanding .item img{
    position: absolute;
    display: inline-block;
    width: 100%;
    transition: var(--trans);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.aboutLanding.aboutL .container:hover img:nth-child(2){
    top: 48%;
}
.aboutLanding.aboutL .container:hover img:nth-child(3){
    top: 52%;
}
/* aboutA */
.aboutLanding.aboutA .container:hover img:nth-child(2){
    /* top: 48%; */
    scale: 1.1;
    left: 55%;
}
.aboutLanding.aboutA .container:hover img:nth-child(3){
    /* top: 52%; */
}

/* Mobile */
@media (max-width: 767px) {
    .aboutLanding .container{
        flex-direction: column;
    }
    .aboutLanding.aboutA .container{
        flex-direction: column-reverse;
    }
    .aboutLanding .container .item{
        height: 70vw;
        width: 70%;
    }
}


/* -------------------------- */

.aboutLanding .container .description{
    margin-right: 20px;
}
.aboutLanding .container .description h2 {
    border-bottom: 2px solid var(--main-HD-clr);
    color: var(--main-HD-clr);
    display: inline-block;
    padding-bottom: 0.2rem;
    width: auto;
}
.aboutLanding .container .description p {
    font-size: 1.6rem;
    margin: 1rem 0 1.5rem 0;
    line-height: 3rem;
    font-weight: 600;
}
.aboutLanding .container .description a {
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(2, 103, 219);
}
.aboutLanding .container .description a i{
    font-size: 1rem;
    margin-left: 0.5rem;
}
.aboutLanding .container .description a:hover i {
    margin-left: 0.2rem;

}

/* ---------------- */

.aboutLanding.aboutA {
height: auto !important;
}
.aboutLanding.aboutA .container{
    /* border: 1px solid #000; */
    height: auto !important;
    margin-top: 20px;
}

.aboutA .desCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center ;
}
.aboutA.aboutLanding .container .description p {
    font-size: 1.5rem;
    text-align: center ;
    margin: 0.5rem 0 1.5rem 0;
    line-height: 1.2rem;
    font-weight: 600;
}


/* Mobile  --   aboutLanding   */
@media (max-width: 767px) {
    .aboutLanding .container .description  {
        margin-right: 0px;
    }
    .aboutLanding .container .description h2 {
        font-size: 1.3rem;
        text-align: center;
        width: 100%;
    }
    
    .aboutLanding .container .description p {
        font-size: 1rem;
        text-align: center;
        margin: 1rem 1rem 1.5rem;
        line-height: 1.3rem;
    }
    .aboutLanding .container .description a {
        font-size: 1rem;
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    /* ----------- */

    .aboutLanding.aboutA {
        }
        .aboutLanding.aboutA .container{
            margin-top: -50px;
        }
        .aboutLanding.aboutA .container .item{
            height: 50vw;
            width: 70%;
        }
    
        
        .aboutA .desCont{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center ;
        }
        .aboutA.aboutLanding .container .description  {
        }
        .aboutA.aboutLanding .container .description p {
            font-size: 1rem;
            text-align: center ;
            margin: 0.5rem 0 1.5rem 0;
            line-height: 1.2rem;
            font-weight: 600;
        }
        




}

/* .seeMore {
    width: 100%;
    border: 1px solid #000;
} */
.seeMore,
.seeMore i  {
    color: #000000 !important;
}


/* ---------------------------------------- */
/* ------services------------------------ */
/* ---------------------------------------- */





.services {
    background-color: none;
    background-image: url(../img/about_us/services/servBackground.png);
    background-size: cover;
    background-position: right;
    /* box-shadow: 2px 2px 20px 15px rgba(0, 0, 0, 0.2); */
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-bottom: 5rem ;
}
.services .container{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.services .container h2 {
    font-size: 2rem;
    line-height: 4rem;
    margin: 4rem 0;
}
.services .container .features{
    width: 100%;
    display: flex;
    justify-content: center;
}
.cardLogo{
    width: fit-content;
    margin: auto;
}
.features img{ }

/* hover animation */
/* serv1 */
.features .card.serv1:hover  img:nth-child(2) {
    top: 62%;
}
/* serv2 */
.features .card.serv2:hover  img:nth-child(2) {
    left: 78%;
    /* left: 30px; */
}
/* serv3 */
.features .card.serv3:hover  img:nth-child(2) {
    top: 60%;
    left: 60%;
}
/* serv4 */
.features .card.serv4 img:nth-child(2) {
    transform: translate( 0%, 0%);
    top: 0;
    left: -5px;
    scale: 0.7;
}
.features .card.serv4:hover  img:nth-child(2) {
    /* rotate :1turn;  */
    transform: rotate(180deg);
}
/* serv5 */
.features .card.serv5 img:nth-child(2) {
    /* transform: translate( 0%, 0%);
    top: 0; */
}
.features .card.serv5:hover  img:nth-child(2) {
    scale: .95;
}
.features .card.serv5 img:nth-child(3) {
    /* transform: translate( 0%, 0%);
    top: 0; */
}
.features .card.serv5:hover  img:nth-child(3) {
    scale: 1.1;
}






/* Mobile  --   services   */

@media (max-width: 767px) {
    .cardLogo{
        width: fit-content;
        margin: 0;
        /* margin-right: 1rem; */
        }
    
    /* serv4 */
.features .card.serv4 img:nth-child(2) {
    transform: translate( 0%, 0%);
    top: 0;
    left: -5px;
    scale: .7;
    /* opacity: .5; */
}
.features .card.serv4:hover  img:nth-child(2) {
    opacity: 1;
    rotate: 1turn;
}

    .services .container h2 {
        font-size: 1.5rem;
        margin: 1.5rem 0;
    }
    .services .container .features .card{
        width: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: flex-start; */
        /* justify-content: space-between; */
        align-items: center;
    }
    .services .container .features p,
    .services .container .features h3
    {
        padding: 0;
        margin: 0 15px;
    }
    .features .card img {
        height: 5rem;
        /* margin-left: 1rem ; */
    }
    
    
}













