:root {
    --main-BG-clr: #EEEEEE;
    --main-NBG-clr: #FFFFFF;
    --main-HD-clr: #F2951C;
    --main-TXT-clr: #000000;
    --trans: all 0.25s ease-in-out;
}

/* ---------------------------------------- */
/* ------LANDING------------------------ */
/* ---------------------------------------- */

.aboutLanding {
    position: relative;
    height: 100vh;
}
.aboutLanding .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc( 100vh - 80px);
    margin-top: 80px;
    /* border: 1px solid #000; */
}
.aboutLanding .container .item{
    /* border: 1px solid #000; */
    position: relative;
    /* height: 50vh; */
    height: 30vw;
    /* width: 550px; */
    width: 40%;
}
.aboutLanding .item img{
    position: absolute;
    display: inline-block;
    width: 100%;
    transition: var(--trans);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

/* -------------------------- */

.aboutLanding .container .description{
    /* border: 1px solid #000; */
    /* height: 40vh; */
    margin-right: 20px;
}
.aboutLanding .container .description h2 {
    border-bottom: 2px solid var(--main-HD-clr);
    color: var(--main-HD-clr);
    display: inline-block;
    padding-bottom: 0.2rem;
    width: auto;
}
.aboutLanding .container .description p {
    font-size: 1.6rem;
    margin: 1rem 0 1.5rem 0;
    line-height: 3rem;
    font-weight: 600;
}
.aboutLanding .container .description a {
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(2, 103, 219);
}
.aboutLanding .container .description a i{
    font-size: 1rem;
    margin-left: 0.5rem;
}
.aboutLanding .container .description a:hover i {
    margin-left: 0.2rem;

}


.aboutLanding.aboutA {
height: auto !important;
}
.aboutLanding.aboutA .container{
    /* border: 1px solid #000; */
    height: auto !important;
    margin-top: 20px;
}

.aboutA .desCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center ;
}
.aboutA.aboutLanding .container .description p {
    font-size: 1.5rem;
    text-align: center ;
    margin: 0.5rem 0 1.5rem 0;
    line-height: 1.2rem;
    font-weight: 600;
}


/* Mobile */
@media (max-width: 767px) {





}





/* ---------------------------------------- */
/* ------services------------------------ */
/* ---------------------------------------- */





.services {

    background-color: none;
    background-image: url(../img/about_us/services/servBackground.png);
    background-size: cover;
    background-position: right;
    box-shadow: 2px 2px 20px 15px rgba(0, 0, 0, 0.2);
    margin-top: 5rem;
    padding-bottom: 5rem ;
}
.services .container{
    /* transform: skewY(3deg); */
    /* height: 1000px; */
    /* border: 1px solid #000; */
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.services .container h2 {
    /* border: 1px solid #000; */
    font-size: 2rem;
    line-height: 4rem;
    margin: 4rem 0;
}
.services .container .features{
    /* border: 1px solid #000; */
    width: 100%;
    display: flex;
    justify-content: center;
}

















