@media only screen and (max-width: 1400px) and (min-width: 1222px){
.sec1 .description {
    width: calc( 40vh * 2.55);
    padding-right: 2rem;
  }
}

.sec1 .description ul li{
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
}
.sec1 .description ul li:nth-child(2),
.sec1 .description ul li:nth-child(3),
.sec1 .description ul li:nth-child(4),
.sec1 .description ul li:nth-child(5),
.sec1 .description ul li:nth-child(6),
.sec1 .description ul li:nth-child(7){margin-right: 0rem;}

.sec1 .description ul li:nth-child(2){margin-left: 1rem;}
.sec1 .description ul li:nth-child(3){margin-left: 2rem;}
.sec1 .description ul li:nth-child(4){margin-left: 3rem;}
.sec1 .description ul li:nth-child(5){margin-left: 2rem;}
.sec1 .description ul li:nth-child(6){margin-left: 1rem;}
.sec1 .description ul li:nth-child(7){margin-left: 0rem;}
.sec1 .description ul li i{
  font-size: 1rem;
  margin-right: 1rem;
  color: var(--main-HD-clr);
}
