/* Mobile */
@media (max-width: 920px) {
    /* ---------------------------------------- */
    /* ------NAV BAR------------------------ */
    /* ---------------------------------------- */

    nav{
        width: 100%;
        height: 50px;
        position: fixed;
        top: 0;
    }

    nav .container{
    }

    nav .logo{
        height: 50px;
    }
    .logo img{
        height: 30px !important;
    }
    nav .logo p:nth-child(2){
        margin: 0 15px;
        height: 100%;
        width: 2px;
        border-radius: 1px;
        background-color: var(--main-TXT-clr);
    }
    nav .logo p:nth-child(3){
        font-size: 1rem;
        font-weight:500 ;
    }

    .ham{ 
        /* border: 1px solid #000; */
        display: block; 
        width: 27px;
        height: 13px;
        margin: auto;
        margin-left: 30px;
        position: relative;
        cursor: pointer;
    }

    .ham span{ 
        width: 100%;
        height: 2px;
        background-color: var(--main-HD-clr);
        background-color: var(--main-TXT-clr);
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
    }
    .ham span:nth-child(1){ 
        top: 0;
    }
    .ham span:nth-child(2){ 
        top: 50%;
        width: 70%;
        transform: translate( 0%, -50%);
        left: 0;
        background-color: var(--main-HD-clr);
    }
    .ham span:nth-child(3){ 
        top: 100%;
    }
    .ham.active span:nth-child(1){ 
        top: 50%;
        left: 0;
        transform: rotate(-225deg);
        background-color: var(--main-HD-clr);
    }
    .ham.active span:nth-child(2){ 
        top: 50%;
        width: 0px;
        }
    .ham.active span:nth-child(3){ 
        top: 50%;
        left: 0;
        transform: rotate(225deg);
    }


    .ham.active{
        /* transform: rotate(0.5turn); */
    }

    .ham.active span:nth-child(1){ 
        /* rotate: 45deg;
        top: 67%; */
    }
    .ham.active span:nth-child(2){ 
        /* width: 0; */
    }
    .ham.active span:nth-child(3){ 
        /* rotate: -45deg;
        top: 27% !important; */
    }

    nav ul{
        /* display: none;        */
        display: block;
        position: absolute;
        top: 50px;
        left: 0px;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 0;
        opacity: .2;
        overflow: hidden;
        transition: var(--trans);
        transition: .7s;
    }
    nav ul li{
        position: relative;
        left: -100%;
        width: 80%;
        text-align: center;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;

        transition: var(--trans);
        transition: .7s;
    }
    nav ul li:nth-child(1){  left: -100%; }
    nav ul li:nth-child(2){  left: -150%; }
    nav ul li:nth-child(3){  left: -200%; }
    nav ul li:nth-child(4){  left: -250%; }

    nav ul.show{
        height: 200px;
        opacity: 1;
    }
    nav ul.show li{
        left: 0;
    }



.dn{
    display: none !important;
}

.overlay{
    display: block !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0000009d;
}



}
@media (max-width: 767px) {
    :root {
        --main-BG-clr: #EEEEEE;
        --main-NBG-clr: #FFFFFF;
        --main-HD-clr: #F2951C;
        --main-TXT-clr: #000000;
        --trans: all 0.25s ease-in-out;
    }

    *{
    box-sizing: border-box !important;
    }

    .container {
        /* width: 95vw;
        padding: 0; */
    }



/* ---------------------------------------- */
/* ------LANDING------------------------ */
/* ---------------------------------------- */

main.landing{
    background-image: url(../img/landing.png);
    background-size: 200vh;
    border-bottom: 5px solid rgba(0, 0, 0, 0);
}


    .landing .container{
        flex-direction: column;
        height: calc( 100vh - 50px) !important;
        margin-top: 50px;
        padding-top: 50px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        justify-content: flex-start
        /* border: 1px solid #000; */
    }
    


    .landing .item{
        height: 40% !important;
        width: 100% !important;
        margin-left:10px !important;
    }
    .landing .item.cont{
        height: 30% !important;
        margin-top: -100px;
        margin-left: 0px !important;

    }
        

    .landing .tard{
            /* border: 1px solid #000; */
            width: 100%;
            justify-content: center;
            align-items: center;
            padding: 0.1rem;


    }
    .landing .tard h1{
        font-size: 1.2rem;
        margin-bottom: 1rem;
        text-align: center;
    }
    .landing .tard input,
    .landing .tard button {
        font-size: 1.0rem;
        padding: .7rem;
        margin-bottom: 1rem;
    }


    .landing .tard .appLink{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .landing .tard .appLink img{
        margin-bottom: 15px;
    }


/* ---------------------------------------- */
/* ------SECTION 1----------------------- */
/* ---------------------------------------- */

.sec1{
    display: block !important;
    padding-top: 50px !important;
    /* box-shadow: 2px 2px 20px 15px rgba(0, 0, 0, 0.2); */
    box-shadow: 2px 2px 20px 15px var(--main-BG-clr);


}
section.sec1 .container{
    flex-direction: column;
    height: calc( 100vh - 150px) ;
    /* margin-top: 50px; */
    padding-top:0px ;
    justify-content: flex-start;
    align-items: center;

    overflow: hidden;

    /* border: 1px solid #000; */
    }
/* ---------------------------------------- */
section.sec1 .container .item{
        height: 30% !important;
        min-width: calc( 40vh );
        /* border: 1px solid rgb(0, 140, 255); */
    }
    section.sec1 .container .item img{
        /* border: 1px solid rgb(204, 20, 20); */
    }
/* ---------------------------------------- */
.sec1 .description{
    display: flex !important;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    width: calc( 40vh );
    width: 100%;
    justify-content: center;
    align-items: center;
    }
    .sec1 .description h2{
        font-size: 1.1rem;
        line-height: 1.7rem;
        margin: 0;
        padding-right: 0rem ;
        /* margin-right: -4rem; */
        margin-bottom: 1rem;
    }
    .sec1 .description ul li{
        font-size: 1rem;
        font-weight: 600;
        margin-right: -1rem !important;
        margin-bottom: 0.5rem;
    }
    .sec1 .description ul i{
        font-size: 0.5rem !important;
        margin-left: 0.5rem !important;
    }
    
/* ---------------------------------------- */
/* ------SECTION 2----------------------- */
/* ---------------------------------------- */

    .sec2{
        display: block !important;
        box-shadow: 2px 2px 20px 15px var(--main-BG-clr);

    }
    section.sec2 .container h2{
        font-size: 1.7rem;
        margin-bottom: 2rem;
    }
    .features{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .features .card {
        padding-top: 2rem;
        margin-bottom: 2rem;
    }
    .features .card:hover {
        background-color: transparent;
    }
    .features .card h3 {
        font-size: 1.4rem;
        font-weight: 700;
        margin: 1rem 0 0.5rem;
    }

/* ---------------------------------------- */
/* ------LAST SECTION------------------------ */
/* ---------------------------------------- */

.last{
    display: block !important;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;


}
.last p{
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    width: 80% !important;
    margin: auto;
    text-align: center;

}
.last a{
    font-size: 1rem;
    font-weight: 600;
    padding: 0 1rem;
    border-radius: 15px;
    position: relative;
}
.last a span {
    padding: 0 1rem;
    width: 100% !important;
    border-radius: 15px;
    width: 100%;
    left: -100%;
    opacity: 0;
    transition: var(--trans);
    margin: auto;
}

.last p:hover span {
    left: 0;
    opacity: 1;
    text-align: center;

}










/* ---------------------------------------- */
/* ------FOOTER------------------------ */
/* ---------------------------------------- */



footer {
    height: 100vh !important;
    height: auto !important;
    padding-left: 0;
    padding: 20px;
    justify-content: flex-start;
}
footer>img{
    display: none !important;
}
footer .cont-foot{
    height: auto;
    flex-direction: column;
    width: 100% !important;
    /* border: 1px solid #000; */

}
footer .links { 
}
footer .links a { 
margin: 10px 0;
margin-right: 10px;
}
.social-footer{
    width: 200px;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.social{
    /* border: 1px solid #000; */
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.social-footer>a {
    margin-top: 15px;
}

footer p {
    /* border: 1px solid #000; */
    font-size: 1.1rem;
    line-height: 2.5rem;
    text-align: center;
    margin-top: 30px;
    bottom: 0;
    right: 0;
    width: 100vw ;
    /* background-color: #ffffff44; */
}






}






















