/* Variables */
:root {
    --main-BG-clr: #EEEEEE;
    --main-NBG-clr: #FFFFFF;
    --main-HD-clr: #F2951C;
    --main-TXT-clr: #000000;

    --trans: all 0.25s ease-in-out;
}

/* global styles */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.bd {
    border: 1px solid #000;
}

/* Small */
@media (min-width: 768px) {
    .container {
        /* width: 750px; */
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
        width: 100%;
        padding: 0 6rem;
        /* margin: 0 8rem; */
    }
}

/* Large */
/* @media (min-width: 2000px) {
    .container {
        width: 1970px;
    }
} */

/* End Global Rules */

*{
    transition: var(--trans);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: 'Tajawal', sans-serif;
}

body {
    background-color: var(--main-BG-clr);
    color: var(--main-TXT-clr);
    font-family: 'Tajawal', sans-serif;
    /* font-size: 3rem; */
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* MY STYLES */


/* ---------------------------------------- */
/* ------NAV BAR------------------------ */
/* ---------------------------------------- */

nav{
    background-color: var(--main-NBG-clr);
    box-shadow: 2px 2px 20px 15px rgba(0, 0, 0, 0.2);

    position: fixed;
    top: 0;
    height: 80px;
    width:100%;
    z-index: 100;
    /* border: 1px solid #000; */
}
nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo {
height: 80px;
padding: 15px;
display: flex;
justify-content: center;
align-items: center;
}
nav .logo img{
height: 50px;
/* display: inline-block; */
}
nav .logo p:nth-child(2){
    margin: 0 37px;
    height: 100%;
    width: 4px;
    border-radius: 2px;
    background-color: var(--main-TXT-clr);
}
nav .logo p:nth-child(3){
    font-size: 1.2rem;
    font-weight:500 ;
}

.ham {
    display: none;
}

nav ul{
    display: flex;
    justify-content: space-between;
}
nav ul li{
    height: 35px;
    margin-right: 30px;
    border-radius: 17.5px;
    background-color: var(--main-HD-clr);
    /* border: 1px solid #000; */
}
nav ul li a,
nav ul li a span {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    border-radius: 17.5px;
    color: var(--main-TXT-clr);
    font-size: 1rem;
    font-weight: 800;
    line-height: 35px;
    position: relative;
    overflow: hidden;
}

nav ul li a span {
    background-color: var(--main-TXT-clr);
    color: var(--main-NBG-clr);
    position: absolute;
    left: -100%;
    opacity: 0;
    transition: var(--trans);
}
nav ul li:hover span {
    left: 0;
    opacity: 1;
}
.overlay{
    display: none;
}

/* ---------------------------------------- */
/* ------LANDING------------------------ */
/* ---------------------------------------- */

main {
    min-height: 100vh;
    background-color: var(--main-BG-clr);
}
main.landing{
    background-image: url(../img/landing.png);
    background-size: cover;
    /* border-bottom: 5px solid rgba(0, 0, 0, 0.082); */
}
.landing{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
}

.landing .container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: calc( 100vh - 80px);
    margin-top: 80px;
}

.landing .container .item{
    position: relative;
    /* border: 1px solid #000; */
    height: 60vh;
    width: 550px;
    width: 40%;
}
.landing .item img{
    position: absolute;
    /* border: 1px solid rgb(5, 233, 81); */
    display: inline-block;
    height: 100%;
    transition: var(--trans);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

}
.landing .item:hover img[src="img/lnd/lnd2.png"] {
top: 48% !important;
left: 45%;
}
.landing .item:hover img[src="img/lnd/lnd3.png"] {
top: 44%;
}


.landing .tard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 30%;
    padding: 1rem;
    /* border: 1px solid #000; */
}
.landing .tard h1 {
    font-size: 1.7rem;
    padding: inherit;
    margin-bottom: 1rem;
    /* border: 1px solid #000; */
}
.landing .tard input {
    width: 90%;
    font-size: 1.2rem;
    font-weight: 600;
    padding: inherit;
    margin-bottom: 1rem;
    border: none;
    border-radius: 3rem;
}
.landing .tard input:focus {
    /* border-style: dashed; */
}
.landing .tard input:hover {
    transform: scale(1.1);
}

.landing .tard button {
    font-size: 1.2rem;
    font-weight: 600;
    padding: inherit;
    margin-bottom: 1rem;
    background-color: var(--main-HD-clr);
    border: none;
    border-radius: 3rem;
    cursor: pointer;
}
.landing .tard button:hover {
    transform: scale(1.1);
}

.landing .tard .appLink {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    position: relative;
}

.landing .tard a {
    display: inline-block;
    width: 45%;
    /* border: 3px solid rgb(17, 247, 105); */
    cursor: pointer;
}
.landing .tard img{
    display: inline-block;
    vertical-align: middle;

    width: 100%;
    /* border: 1px solid rgb(247, 17, 17); */
    cursor: pointer;
}
.landing .tard img:hover {
    transform: scale(1.1);
}

/* ---------------------------------------- */
/* ------SECTION 1----------------------- */
/* ---------------------------------------- */

section.sec1{
    /* min-height: 100vh; */

    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    padding-top: calc( 100vh / 6 )
}
section.sec1 .container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* height: calc( 100vh - 150px) ; */
    height: auto;
    padding-bottom: 5rem;
    /* border: 1px solid #000; */
}

/* ---------------------------------------- */
section.sec1 .container .item{
    position: relative;
    height: 40vh;
    min-width: calc( 40vh * 1.55);
}
section.sec1 .container .item img{
    position: absolute;
    display: inline-block;
    height: 100%;
    transition: var(--trans);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
section.sec1 .container .item:hover img[src="img/carMob/carMob2.png"] {
top: 55% !important;
left: 45%;
}
section.sec1 .container .item:hover img[src="img/carMob/carMob3.png"] {
top: 45%;
}

/* ---------------------------------------- */
.sec1 .description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: ;
    width: calc( 50vh * 1.55);
    padding-right: 2rem;
}
.sec1 .description h2{
    color: var(--main-HD-clr);
    font-size: 2rem;
    margin-right: -4rem;
    margin-bottom: 1rem;
}
.sec1 .description ul li{
    font-size: 1.5rem;
    margin-bottom: 0.7rem;
}
.sec1 .description ul li:nth-child(2){margin-right: 1rem;}
.sec1 .description ul li:nth-child(3){margin-right: 2rem;}
.sec1 .description ul li:nth-child(4){margin-right: 3rem;}
.sec1 .description ul li:nth-child(5){margin-right: 2rem;}
.sec1 .description ul li:nth-child(6){margin-right: 1rem;}
.sec1 .description ul li:nth-child(7){margin-right: 0rem;}
.sec1 .description ul li i{
    font-size: 1rem;
    margin-left: 1rem;
    color: var(--main-HD-clr);
}

/* ---------------------------------------- */
/* ------SECTION 2----------------------- */
/* ---------------------------------------- */

section.sec2{
    /* border: 1px solid #000; */
    background-color: var(--main-HD-clr);
    background-color: #E28308;
    /* margin-top: -7rem; */
    margin-top: 2rem;
    transform: skewY(-3deg);
    /* box-shadow: 2px 2px 20px 15px rgba(0, 0, 0, 0.2); */
    box-shadow: 2px 2px 20px 15px var(--main-BG-clr);

}
section.sec2 .container{
    transform: skewY(3deg);
    /* height: 1000px; */
    /* border: 1px solid #000; */
    padding-top: 50px;
    /* padding-bottom: 20px; */
    display: flex;
    justify-content: center;
}
/* ---------------------------------------- */

section.sec2 .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
section.sec2 .container h2{
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 5rem;
}

.features{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
}
.features .card {
    min-width: 30%;
    padding-top: 2rem;
    margin-bottom: 5rem;
    text-align: center;
    /* border: 1px solid #000; */
    border-radius: 50% 50% 2rem 2rem;
}
.features .card:hover {
    background-color: rgba(255, 255, 255, 0.089);
}
.features .card .cardLogo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.features .card img {
    display: inline-block;
    height: 6rem;
    text-align: center;
    /* border: 1px solid #000; */

}
.features .card img:nth-child(2),
.features .card img:nth-child(3),
.features .card img:nth-child(4) {
    position: absolute;
    transform: translate(-50%, -50%); 
    top: 50%;
    left: 50%;

}
/* hover animation */
/* logo1 */
.features .card.logo1:hover  img:nth-child(3) {
    scale: 1.1;    
    left: 53%;
}
/* logo2 */

.features .card.logo2  img:nth-child(3) {    
    /* left: 0%; */
}
.features .card.logo2:hover  img:nth-child(3) {
    left: 55%;
}
/* logo3 */
.features .card.logo3:hover  img:nth-child(3) {
    scale: 1.1;    left: 53%; 
}
/* logo4 */
.features .card.logo4:hover  img:nth-child(3) {
    /* scale: 1.1;  */
    /* left: 52%; */
    top: 20%; 
    /* rotate: 1turn; */
}
/* logo5 */
.features .card.logo5 img:nth-child(4) { opacity: 0; height: 0; }
.features .card.logo5:hover  img:nth-child(3) {
    /* scale: 1.1; 
    left: 52%; */
    top: 35%; 
}
.features .card.logo5:hover  img:nth-child(4) {
    opacity: 1; 
    height: 100%;
    /* rotate: 1turn; */
}
/* logo6 */
.features .card.logo6:hover  img:nth-child(3) {
    scale: 1.1; 
    left: 52%;
    top: 56%; 
}




/* ------------------ */
.features .card h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem 0 0.5rem;
}
.features .card p {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    margin: 0 0 1rem;
}

/* ---------------------------------------- */
/* ------LAST SECTION------------------------ */
/* ---------------------------------------- */

.last{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

}
.last p{
    background-color: var(--main-HD-clr);
    /* box-shadow: 2px 2px 20px 15px rgba(0, 0, 0, 0.2); */

    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}
.last a{
    font-size: 2rem;
    font-weight: 600;
    padding: 0 2rem;
    border-radius: 25px;
    position: relative;
    width: 100%;
}

.last a span {
    background-color: var(--main-TXT-clr);
    color: var(--main-NBG-clr);
    padding: 0 2rem;
    position: absolute;
    display: inline-block;
    width: 100%;
    border-radius: 25px;
    width: 100%;
    left: -100%;
    opacity: 0;
    transition: var(--trans);
}

.last p:hover span {
    left: 0;
    opacity: 1;
}

/* ---------------------------------------- */
/* ------FOOTER------------------------ */
/* ---------------------------------------- */

footer{
    background-color: var(--main-HD-clr);
    box-shadow: 2px 2px 20px 15px rgba(0, 0, 0, 0.2);
    height: 270px;
    padding-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

footer .cont-foot{
    height: 200px;
    width: calc( 100vw - 200px );
    display: flex;
    justify-content: space-evenly;
    position: relative;
    /* border: 1px solid #000; */
}
/* --------------------------- */

footer .links { 
    /* border: 1px solid #000; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
footer .links a { 
    /* border: 1px solid #000; */
    color: var(--main-TXT-clr);
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 500;
}
footer .links a:hover { 
    color: var(--main-BG-clr);
}




/* --------------------------- */
.social-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
    height: 100%;
    /* border: 1px solid #000; */
}

.social{

}
.social a {
    display: inline-block;
    margin: .3rem;
}
.social i {
    color: white;
    font-size: 1.1rem;
    height: 2.0rem;
    width: 2.0rem;
    line-height: 2.0rem;
    vertical-align: middle;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 50%;
    background-color: var(--main-TXT-clr)
}
.social a:hover i {
    border: 2px solid var(--main-BG-clr);
    color: var(--main-HD-clr);
}
.social-footer>a {
    display: block;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-footer>a  img {
    display: block;
    display: flex;
    justify-content: center;
    height: 100% !important;
    width: 100%;
}
.social-footer>a:hover  img {
transform: scale(1.05);
}

footer p {
    font-size: 1.3rem;
    line-height: 3rem;
    text-align: center;
    margin-top: 10px;
    bottom: 0;
    right: 0;
    width: calc( 100vw - 200px );
    border-top: 1px solid #ffffff44;
    /* background-color: #ffffff44; */
}
footer p span:nth-child(1),
footer p  a {
    color: var(--main-BG-clr);
    font-weight: 500;
}
footer p span:nth-child(3) {
    font-weight: 600;
    margin: 010px;
}

footer img[src="img/footer-left.png"],
footer img[src="../img/footer-left.png"]{
    display: inline-block;
    height: 100%;
    position: absolute;
    left: 0;
}
